



/* Estilos adicionales para la compra de códigos */
body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  margin: 0;
  padding: 0;
  min-height: 100vh; /* Asegura que el fondo cubra toda la altura */
  background-image: url('/atencion-profesional/USUARIO/Imagenes/mensajes.png'); /* Cambia por la ruta de tu imagen */
  background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center top; /* Centra la imagen y la desplaza hacia arriba */
  background-attachment: fixed; /* Hace que la imagen sea fija al hacer scroll */
  background-color: rgba(255, 255, 255, 0.7); /* Color de fondo blanco con transparencia */
  background-blend-mode: overlay; /* Mezcla el color con la imagen */
}

.compra-codigos {
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 1200px; 
    padding: 20px;
    margin-bottom: 100px;
}

.codigos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
    margin-top: 30px;
    justify-items: center; /* Asegura que los elementos dentro del grid se centren */
    align-items: start; /* Alinea los elementos en la parte superior */
    margin-left: 21px;
}

.compra-codigos h2 {
    margin-bottom: 20px;
    color: #6200ea;
    text-align: center;
}

.codigo-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    position: relative;
    margin-bottom: 0px;
}

.codigo-card:hover {
    transform: scale(1.05);
}

.codigo-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.codigo-card-content {
    padding: 15px;
}

.codigo-card h3 {
    margin: 0;
    font-size: 18px;
    color: #333;
}

.codigo-card p {
    margin: 10px 0 15px;
    font-size: 14px;
    color: #666;
}

.codigo-card .precio {
    font-size: 20px;
    color: #6200ea;
    margin-bottom: 10px;
}

.codigo-card button {
    background-color: #6200ea;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block; /* Hace que el botón sea un elemento de bloque */
    margin: 0 auto; /* Centra horizontalmente */
}

.codigo-card button:hover {
    background-color: #4b00b5;
}


