

/* contenido body */
body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  margin: 0;
  padding: 0;
  min-height: 100vh; /* Asegura que el fondo cubra toda la altura */
  background-image: url('/atencion-profesional/USUARIO/Imagenes/dinero.png'); /* Cambia por la ruta de tu imagen */
  background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center top; /* Centra la imagen y la desplaza hacia arriba */
  background-attachment: fixed; /* Hace que la imagen sea fija al hacer scroll */
  background-color: rgba(255, 255, 255, 0.8); /* Color de fondo blanco con transparencia */
  background-blend-mode: overlay; /* Mezcla el color con la imagen */
}

.table-container {
  width: 90%; 
  max-width: 1200px;
  overflow-x: auto; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin: 30px auto 100px;
  border-radius: 10px;
  margin-bottom: 100px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #f4f4f9;
}

th, td {
  padding: 10px;
  text-align: left;
  border: 1px solid #dcdde1;
}

th {
  font-weight: bold;
}

.status {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: #dcdde1;
  color: #dcdde1;
  text-align: center;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}



