

/* Estilo para el formulario */
body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  margin: 0;
  padding: 0;
  min-height: 100vh; /* Asegura que el fondo cubra toda la altura */
  background-image: url('/atencion-profesional/PROFESIONAL/Imagenes/Entorno-Profesional.jpg'); /* Cambia por la ruta de tu imagen */
  background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center top; /* Centra la imagen y la desplaza hacia arriba */
  background-attachment: fixed; /* Hace que la imagen sea fija al hacer scroll */
  background-color: rgba(255, 255, 255, 0.9); /* Color de fondo blanco con transparencia */
  background-blend-mode: overlay; /* Mezcla el color con la imagen */
}

main{
  margin-top: 20px;
  margin-bottom: 100px;
}
.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

h2 {
  text-align: center;
  color: #59009A;
  margin-bottom: 20px;
}

.pregunta {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
}

.pregunta label {
  font-size: 16px;
  color: #333;
}

.pregunta input[type="radio"],
.pregunta select {
  margin-top: 10px;
}

.pregunta select {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

button {
  display: block;
  padding: 10px 30px;
  background-color: #59009A;
  color: #fff;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  margin: 20px auto 0 auto;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #440173;
}

/* Estilos básicos para la animación de fondo */
.background-animation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.ball {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #6200ea;
  box-shadow: 0 0 20px #6200ea;
}

.ball1 {
  animation: moveWorm1 8s linear infinite;
}

.ball2 {
  animation: moveWorm2 10s linear infinite;
}

@keyframes moveWorm1 {
  0% {
      transform: translate(0, 0);
  }
  25% {
      transform: translate(15vw, 20vh);
  }
  50% {
      transform: translate(30vw, 40vh);
  }
  75% {
      transform: translate(15vw, 60vh);
  }
  100% {
      transform: translate(0, 80vh);
  }
} 

@keyframes moveWorm2 {
  0% {
      transform: translate(100vw, 0);
  }
  25% {
      transform: translate(85vw, 20vh);
  }
  50% {
      transform: translate(70vw, 40vh);
  }
  75% {
      transform: translate(85vw, 60vh);
  }
  100% {
      transform: translate(100vw, 80vh);
  }
}


